<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>About EXGO</p></span>
<p>EXGO is a service center which provides consumers with tours and excursions. EXGO includes different selling platforms, an order processing center and a 24/7 support service. EXGO offers excursions from service providers which have all necessary permits and licenses to ensure high-quality service. EXGO is reputed to offer the most efficient online booking services with instantly available up-to-date confirmations and payment transfers, as well as service quality monitoring.</p>
<p>The EXGO client gets the best price on the market; the client remains independent from the travel companies and the tourist representatives, which sell excursions at tourist destinations, and thereby the client benefits from better control of his/her expenses. <a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/excursion">Go to booking</a></p>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>О нас - EXGO</p></span>
<p>EXGO - сервисный центр по продаже туристических услуг (экскурсий), включющий различные площадки для продажи, центр обработки заказов и круглосуточную службу поддержки. EXGO предлагает услуги поставщиков услуг, имеющих необходимые разрешения и лицензии. EXGO отличает наличие онлайн-бронирования с мгновенным подтверждением и приемом платежей, а также контроль качества предоставляемых услуг.</p>
<p>Клиент EXGO получает лучшую цену на рынке, независимость от турпредставителей, продающих услуги в месте назначения, и, таким образом, возможность лучше контролировать свои расходы. <a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/excursion">Перейти к бронированию</a></p>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>About EXGO</p></span>
<p>EXGO is a service center which provides consumers with tours and excursions. EXGO includes different selling platforms, order processing center and 24/7 support service. EXGO offers excursions from service providers which have all necessary permissions and licenses to ensure quality service. 
EXGO distinguished by the presence of online booking with instant confirmation and payment receiving, as well as monitoring of the quality of services.</p>
<p>The EXGO client gets the best price in the market, remains independant from travel companies and tourist representatives, selling excursions at tourist destinations, and thereby better controls his expences. <a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/excursion">Go to booking</a></p>
            </article>

            break;
        case "fr":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>About EXGO</p></span>
<p>EXGO is a service center which provides consumers with tours and excursions. EXGO includes different selling platforms, order processing center and 24/7 support service. EXGO offers excursions from service providers which have all necessary permissions and licenses to ensure quality service. 
EXGO distinguished by the presence of online booking with instant confirmation and payment receiving, as well as monitoring of the quality of services.</p>
<p>The EXGO client gets the best price in the market, remains independant from travel companies and tourist representatives, selling excursions at tourist destinations, and thereby better controls his expences. <a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]en/excursion">Go to booking</a></p>
            </article>

             break;
    }
}

</div>