<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Contact</p></span>
<p>327K, Makariou III ave,</p>
<p>3106, Limassol, Cyprus</p>
<p>tel.:&thinsp;+357-7000-5557</p>
<p>mail @@ exgo.com</p>
<p>Follow us on facebook</p>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Контакты</p></span>
<p>38, Iapetou street,</p>
<p>Industrial Area, Agios Athanasios</p>
<p>4101, Limassol, Cyprus</p>
<p>tel.:&thinsp;+357-25-364999</p>
<p>fax:&thinsp;+357-25-364888</p>
<p>mail @@ exgo.com</p>
<p>Follow us on facebook</p>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Contact</p></span>
<p>38, Iapetou street,</p>
<p>Industrial Area, Agios Athanasios</p>
<p>4101, Limassol, Cyprus</p>
<p>tel.:&thinsp;+357-25-364999</p>
<p>fax:&thinsp;+357-25-364888</p>
<p>mail @@ exgo.com</p>
<p>Follow us on facebook</p>
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Contact</p></span>
<p>38, Iapetou street,</p>
<p>Industrial Area, Agios Athanasios</p>
<p>4101, Limassol, Cyprus</p>
<p>tel.:&thinsp;+357-25-364999</p>
<p>fax:&thinsp;+357-25-364888</p>
<p>mail @@ exgo.com</p>
<p>Follow us on facebook</p>
            </article>

             break;
    }
}

</div>