<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
                <a href="/">
<span class="ex_pay_title"><p>Currently we have excursions in countries:</p></span></a>
<ul>
<li>Cyprus</li>
</ul>
<span class="ex_pay_title"><p>All countries:</p></span>
<ul>
<li>Afghanistan</li>
<li>Albania</li>
<li>Algeria</li>
<li>Andorra</li>
<li>Angola</li>
<li>Antigua and Barbuda</li>
<li>Argentina</li>
<li>Armenia</li>
<li>Aruba</li>
<li>Australia</li>
<li>Austria</li>
<li>Azerbaijan</li>
<li></li>
<li>Bahamas, The</li>
<li>Bahrain</li>
<li>Bangladesh</li>
<li>Barbados</li>
<li>Belarus</li>
<li>Belgium</li>
<li>Belize</li>
<li>Benin</li>
<li>Bhutan</li>
<li>Bolivia</li>
<li>Bosnia and Herzegovina</li>
<li>Botswana</li>
<li>Brazil</li>
<li>Brunei</li>
<li>Bulgaria</li>
<li>Burkina Faso</li>
<li>Burma</li>
<li>Burundi</li>
<li></li>
<li>Cambodia</li>
<li>Cameroon</li>
<li>Canada</li>
<li>Cape Verde</li>
<li>Central African Republic</li>
<li>Chad</li>
<li>Chile</li>
<li>China</li>
<li>Colombia</li>
<li>Comoros</li>
<li>Congo, Democratic Republic of the</li>
<li>Congo, Republic of the</li>
<li>Costa Rica</li>
<li>Cote d'Ivoire</li>
<li>Croatia</li>
<li>Cuba</li>
<li>Curacao</li>
<li>Cyprus</li>
<li>Czech Republic</li>
<li></li>
<li>Denmark</li>
<li>Djibouti</li>
<li>Dominica</li>
<li>Dominican Republic</li>
<li></li>
<li>East Timor (see Timor-Leste)</li>
<li>Ecuador</li>
<li>Egypt</li>
<li>El Salvador</li>
<li>Equatorial Guinea</li>
<li>Eritrea</li>
<li>Estonia</li>
<li>Ethiopia</li>
<li></li>
<li>Fiji</li>
<li>Finland</li>
<li>France</li>
<li></li>
<li>Gabon</li>
<li>Gambia, The</li>
<li>Georgia</li>
<li>Germany</li>
<li>Ghana</li>
<li>Greece</li>
<li>Grenada</li>
<li>Guatemala</li>
<li>Guinea</li>
<li>Guinea-Bissau</li>
<li>Guyana</li>
<li></li>
<li>Haiti</li>
<li>Holy See</li>
<li>Honduras</li>
<li>Hong Kong</li>
<li>Hungary</li>
<li></li>
<li>Iceland</li>
<li>India</li>
<li>Indonesia</li>
<li>Iran</li>
<li>Iraq</li>
<li>Ireland</li>
<li>Israel</li>
<li>Italy</li>
<li></li>
<li>Jamaica</li>
<li>Japan</li>
<li>Jordan</li>
<li></li>
<li>Kazakhstan</li>
<li>Kenya</li>
<li>Kiribati</li>
<li>Korea, North</li>
<li>Korea, South</li>
<li>Kosovo</li>
<li>Kuwait</li>
<li>Kyrgyzstan</li>
<li></li>
<li>Laos</li>
<li>Latvia</li>
<li>Lebanon</li>
<li>Lesotho</li>
<li>Liberia</li>
<li>Libya</li>
<li>Liechtenstein</li>
<li>Lithuania</li>
<li>Luxembourg</li>
<li></li>
<li>Macau</li>
<li>Macedonia</li>
<li>Madagascar</li>
<li>Malawi</li>
<li>Malaysia</li>
<li>Maldives</li>
<li>Mali</li>
<li>Malta</li>
<li>Marshall Islands</li>
<li>Mauritania</li>
<li>Mauritius</li>
<li>Mexico</li>
<li>Micronesia</li>
<li>Moldova</li>
<li>Monaco</li>
<li>Mongolia</li>
<li>Montenegro</li>
<li>Morocco</li>
<li>Mozambique</li>
<li></li>
<li>Namibia</li>
<li>Nauru</li>
<li>Nepal</li>
<li>Netherlands</li>
<li>Netherlands Antilles</li>
<li>New Zealand</li>
<li>Nicaragua</li>
<li>Niger</li>
<li>Nigeria</li>
<li>North Korea</li>
<li>Norway</li>
<li></li>
<li>Oman</li>
<li></li>
<li>Pakistan</li>
<li>Palau</li>
<li>Palestinian Territories</li>
<li>Panama</li>
<li>Papua New Guinea</li>
<li>Paraguay</li>
<li>Peru</li>
<li>Philippines</li>
<li>Poland</li>
<li>Portugal</li>
<li></li>
<li>Qatar</li>
<li></li>
<li>Romania</li>
<li>Russia</li>
<li>Rwanda</li>
<li></li>
<li>Saint Kitts and Nevis</li>
<li>Saint Lucia</li>
<li>Saint Vincent and the Grenadines</li>
<li>Samoa</li>
<li>San Marino</li>
<li>Sao Tome and Principe</li>
<li>Saudi Arabia</li>
<li>Senegal</li>
<li>Serbia</li>
<li>Seychelles</li>
<li>Sierra Leone</li>
<li>Singapore</li>
<li>Sint Maarten</li>
<li>Slovakia</li>
<li>Slovenia</li>
<li>Solomon Islands</li>
<li>Somalia</li>
<li>South Africa</li>
<li>South Korea</li>
<li>South Sudan</li>
<li>Spain</li>
<li>Sri Lanka</li>
<li>Sudan</li>
<li>Suriname</li>
<li>Swaziland</li>
<li>Sweden</li>
<li>Switzerland</li>
<li>Syria</li>
<li></li>
<li>Taiwan</li>
<li>Tajikistan</li>
<li>Tanzania</li>
<li>Thailand</li>
<li>Timor-Leste</li>
<li>Togo</li>
<li>Tonga</li>
<li>Trinidad and Tobago</li>
<li>Tunisia</li>
<li>Turkey</li>
<li>Turkmenistan</li>
<li>Tuvalu</li>
<li></li>
<li>Uganda</li>
<li>Ukraine</li>
<li>United Arab Emirates</li>
<li>United Kingdom</li>
<li>Uruguay</li>
<li>Uzbekistan</li>
<li></li>
<li>Vanuatu</li>
<li>Venezuela</li>
<li>Vietnam</li>
<li></li>
<li>Yemen</li>
<li></li>
<li>Zambia</li>
<li>Zimbabwe</li>
</ul>            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Как забронировать:</span>
</p>
<p>
1.	Выберите категорию экскурсий (наземные, морские и т.д.)
</p>
<p>
2.	Выберите экскурсию
</p>
<p>
3.	Под описанием экскурсий в календаре выберите дату экскурсии и нажмите кнопку «Бронировать». Доступные даты выделены зеленым шрифтом. 
</p>
<p>
4.	Укажите количество взрослых и детей, участвующих в экскурсии, и нажмите кнопку «Добавить к заказу»
</p>
<p>
5.	Вы находитесь на странице со своими заказами. Можно продолжить бронирование и выбрать еще одну экскурсию, для этого нажать «Бронирование экскурсий». В список заказов можно вернутся в любое время по ссылке «Мои заказы» в верхнем меню. 
</p>
<p>
6.	На странице заказов укажите свое имя, контактный номер телефона и адрес электронной почты, а также место проживания на Кипре. Необходимо согласится с Условиями бронирования, поставив «галку» напротив соответствующего пункта. После нажатия «Забронировать» ваш заказ будет сохранен, и вы перейдете к странице оплаты.
</p>
<p>
7.	Экскурсия должна быть полностью оплачена до ее начала. Все варианты оплаты смотрите в разделе «Как оплатить»
</p>
<p>
8.	Статус экскурсии (подтверждение, оплата) можно проверить в любой момент из меню «Проверить статус».
                </p>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title"> Wie erfolgt die Buchung:</span>
</p>
<p>
1. Wählen Sie eine Kategorie Ausflüge (Land, Wasser, etc.)
</p>
<p>
2. Wählen Sie die Tour
</p>
<p>
3. die Beschreibung der Stadt Kalender, wählen Sie das Datum der Tour, und drücken Sie "Buchen". Vorhandene Daten werden in grüner Schrift gekennzeichnet.
</p>
<p>
4. Geben Sie die Anzahl der Erwachsenen und Kinder, die an der Tour, und klicken Sie auf "Einkaufswagen"
</p>
<p>
5. Sie sind auf der Seite mit Ihren Aufträgen. Sie können Ihre Reservierung zu machen und wählen Sie einen weiteren Tour, diese Presse "Book-Tour." Die Liste der Aufträge können jederzeit über den Link "Meine Bestellungen" in der oberen Menüleiste zurückgegeben werden.
</p>
<p>
6. Auf Befehl geben Sie Ihren Namen, Telefonnummer und E-Mail-Adresse und Wohnsitz in Zypern. Sie müssen den Bedingungen der Reservierung zustimmen, Putting "Checkbox" neben dem entsprechenden Artikel. Nach einem Klick auf "Jetzt buchen" das wird Ihre Bestellung gespeichert werden und Sie werden auf der Zahlungsseite umgeleitet werden.
</p>
<p>
7. Die Tour muss im Voraus bezahlt werden. Alle Zahlungsmöglichkeiten finden Sie unter "Wie bezahlen"
</p>
<p>
8. Status Ausflüge (Bestätigung) kann jederzeit im Menü "Status prüfen" überprüft werden.
                </p>
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Πώς να κάνετε κράτηση:</span>
</p>
<p>
1. Επιλέξτε μια κατηγορία εκδρομές (γη, θάλασσα, κλπ)
</p>
<p>
2. Επιλέξτε την περιοδεία
</p>
<p>
3. Η περιγραφή του ημερολογίου της πόλης, επιλέξτε την ημερομηνία της περιοδείας και πατήστε το πλήκτρο "Κράτηση". Οι διαθέσιμες ημερομηνίες επισημαίνεται με πράσινο χρώμα γραμματοσειράς.
</p>
<p>
4. Καθορίστε τον αριθμό των ενηλίκων και των παιδιών που συμμετείχαν στην περιοδεία, και κάντε κλικ στο κουμπί "Προσθήκη στην τάξη"
</p>
<p>
5. Είστε στη σελίδα με τις παραγγελίες σας. Μπορείτε να κάνετε την κράτησή σας και να επιλέξετε έναν άλλο γύρο, αυτό πατήστε το κουμπί "Κάντε Tour". Ο κατάλογος των εντολών μπορεί να επιστρέψει ανά πάσα στιγμή μέσω του συνδέσμου "Οι παραγγελίες μου" στο μενού στην κορυφή.
</p>
<p>
6. Με εντολή εισάγετε το όνομα, τον αριθμό τηλεφώνου σας και τη διεύθυνση ηλεκτρονικού ταχυδρομείου, και ο τόπος διαμονής σε Κύπρος. Θα πρέπει να συμφωνήσετε με τους όρους της κράτησης, βάζοντας "κουτάκι" δίπλα στο κατάλληλο σημείο. Αφού κάνετε κλικ στο "Κάντε Κράτηση Τώρα" η παραγγελία σας θα αποθηκευτούν και θα μεταφερθείτε στη σελίδα πληρωμής.
</p>
<p>
7. Η περιοδεία θα πρέπει να καταβληθεί εκ των προτέρων. Όλες οι επιλογές πληρωμής, ανατρέξτε στην ενότητα "Πώς να πληρώσει"
</p>
<p>
8. εκδρομές Κατάσταση (επιβεβαίωση) μπορούν να ελεγχθούν ανά πάσα στιγμή από το μενού "Έλεγχος κατάστασης".
                </p>
            </article>

             break;
    }
}

</div>