<div class="static_text">
@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
                    <article style="padding: 70px 10px 10px 10px; font-size:16px;">
                        <p>
<span class="ex_pay_title">How to pay cash:</span>
</p>
<p>
1. In your hotel or agency (where you did the booking) go to receiption and expose your voucher or booking number either from text message or email. 
</p>
<p>
2. Pay.
</p>
<p>
3. You can check the status of your booking anytime <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">here</a>. </p>
<p>
Yes, it is that simple. If you changed your mind and decided to pay by bank card or Paypal, follow <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">this link</a></p>
                        
                    </article>

            break;
        case "ru":
                    <article style="padding: 70px 10px 10px 10px; font-size:16px;">
                        <p>
<span class="ex_pay_title">Как оплатить наличными:</span>
</p>
<p>
1.	В вашем отеле или агентстве (где вы сделали бронирование) идите к ресепшен и покажите ваучер или номер бронирования из СМС или письма.
</p>
<p>
2.	Оплатите.
</p>
<p>
3.	В любой момент можете проверить статус вашего бронирования <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">здесь.</a>
</p>
<p>
Да, это просто. Если вы передумали и решили оплатить банковской картой или через PayPal, пройдите <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">по этой ссылке.</a>
</p>
                    </article>

            break;
        case "de":
                    <article style="padding: 70px 10px 10px 10px; font-size:16px;">
                        <p>
<span class="ex_pay_title">Wie bezahlen:</span>
</p>
<p>
1. Sie können durch Bargeld über PayPal bezahlen, Bankkarten.
</p>
<p>
2. Wenn Sie bar bezahlen, verwenden Sie die Anmeldenummer (auf dem Gutschein oder elektronische Version gedruckt) und beziehen sich auf die Zahnstange Ihres Hotels. Nach der Anmeldenummer werden das Hotel-Manager zu zahlen. Zahlungsstatus kann im Menü "Status prüfen" überprüft werden.
</p>
<p>
3. Wenn Sie mit Kreditkarte bezahlen, folgen Sie den Anweisungen. EXGO nutzt externe Dienstleister, um Zahlungen zu erhalten, werden alle Transaktionen und Operationen von einem Drittanbieter-Sicherheitsdienst zur Verfügung gestellt. Zur Übertragung von Daten mit einem sicheren Protokoll, https.
</p>
<p>
4. Wenn Sie über PayPal bezahlen, folgen Sie den Anweisungen. EXGO über PayPal-Service, Zahlungen, Transaktionen zu erhalten und alle erforderlichen Sicherheitsmaßnahmen bieten Service PayPal. Zur Übertragung von Daten mit einem sicheren Protokoll, https.
</p>
<p>
5. Tour-Buchungen müssen spätestens 24 Stunden vor dem Beginn der Tour bezahlt werden. In Ermangelung einer Zahlung von der Anwendung automatisch storniert.
</p>
<p>
6. Bei der Buchung von Touren, vor dem haben weniger als 24 Stunden, ist es notwendig, ihre Zahlung innerhalb von 1 Stunde zu machen. In Ermangelung einer Zahlung dieser Forderungen werden automatisch storniert.
</p>
<p>
7. Status Ausflüge (Bestätigung) kann jederzeit im Menü "Status prüfen" überprüft werden.
                        </p>
                    </article>

            break;
        case "fr":
                    <article style="padding: 70px 10px 10px 10px; font-size:16px;">
                        <p>
<span class="ex_pay_title">How to pay cash:</span>
</p>
<p>
1. In your hotel or agency (where you did the booking) go to receiption and expose your voucher or booking number either from text message or email. 
</p>
<p>
2. Pay.
</p>
<p>
3. You can check the status of your booking anytime <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">here</a>. </p>
<p>
Yes, it is that simple. If you changed your mind and decided to pay by bank card or Paypal, follow <a href="#" onclick="$('#searchclaim').modal({ show: true });" style="">this link</a></p>
                        
                    </article>

            break;
    }
}
</div>