<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
                <a href="/">
<span class="ex_pay_title"><p>How to become our partner</p></span></a>
<h3>Regional representative:</h3>
<p>EXGO offers partnership to the regional representatives, which includes usage of IT-technologies, info kiosks and EXGO trademark in their country. Please fill out the following application form:</p>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]EXGO Application for regional representative.doc">Regional representative application form</a>
<h3>Excursion service provider:</h3>
<p>EXGO offers partnership to the excursion service providers licensed to offer tourist services in their countries or regions. Upon completion of the following application form and signing the agreement, the service provider is granted access to the EXGO partner zone which allows to receive reports, to check and to set quotes, and much more.</p>
<a href="/management/en/account/registerprovider">Application form for excursion service provider</a>
<h3>Agent:</h3>
<p>EXGO offers partnership to companies and individuals which have property with high tourist attendance rates, such as hotel lobbies, shopping malls, etc, by setting info kiosks to sell excursions. Please fill out the following application form:</p>
<a href="/management/en/account/registeragentterm">Application form for agents (terminals)</a>
<p></p>
<p>EXGO offers a partnership program to sell the tourist services through the installation of the EXGO booking system or the EXGO logo, and a link on agent's websites. To apply, please fill out the following form:</p>
<a href="/management/en/account/registeragentweb">Application form for agents (web)</a>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
                <a href="/">
<span class="ex_pay_title"><p>Как стать нашим партнером</p></span></a>
<h3>Региональным представителям:</h3>
<p>Компания EXGO предлагает сотрудничество региональным представителям с правом использования IT-технологий, экскурсионных терминалов и торговой марки EXGO в своей стране. Для заявки необходимо заполнить анкету.</p>
<a href="@System.Configuration.ConfigurationManager.AppSettings["AppPath"]EXGO Application for regional representative.doc">Анкета для региональных представителей</a>
<h3>Провайдерам туристических услуг:</h3>
<p>Компания EXGO предлагает сотрудничество провайдерам туристических услуг, имеющих национальную лицензию на осуществление туристической деятельности в своей стране (регионе) или оказание определённых&nbsp; туристических услуг.&nbsp; Для размещения своих программ в системе бронирования EXGO необходимо загрузить и подписать&nbsp; Договор, заполнить&nbsp; анкету on-line. После проверки и одобрения, Вам будет выслан пароль, где в партнёрской зоне Вы сможете загружать свои туры, редактировать квоты, вести баланс и статистику по предоставленным услугам.</p>
<a href="/management/en/account/registerprovider">Анкета для провайдеров туристических услуг</a>
<h3>Агентам:</h3>
<p>Компания EXGO предлагает сотрудничество юридическим и физическим лицам, владеющих объектами с высокой посещаемостью и проходимостью туристов посредством размещения электронных терминалов по продаже он-лайн экскурсий в холлах отелей, апартаментов шоппинг молов и пр. Для заявки на размещение терминала необходимо подписать договор и заполнить анкету.</p>
<a href="/management/en/account/registeragentterm">Анкета для агентов (терминалы)</a>
<p></p>
<p>Компания EXGO предлагает партнерскую программу по продаже туристических услуг посредством размещения системы бронирования EXGO или линка и логотипа EXGO на своих сайтах. Для заявки на размещение на своих сайтах системы бронирования EXGO или линка и логотипа EXGO необходимо подписать договор и заполнить анкету.</p>
<a href="/management/en/account/registeragentweb">Анкета для агентов (вебсайт)</a>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title"> Wie erfolgt die Buchung:</span>
</p>
<p>
1. Wählen Sie eine Kategorie Ausflüge (Land, Wasser, etc.)
</p>
<p>
2. Wählen Sie die Tour
</p>
<p>
3. die Beschreibung der Stadt Kalender, wählen Sie das Datum der Tour, und drücken Sie "Buchen". Vorhandene Daten werden in grüner Schrift gekennzeichnet.
</p>
<p>
4. Geben Sie die Anzahl der Erwachsenen und Kinder, die an der Tour, und klicken Sie auf "Einkaufswagen"
</p>
<p>
5. Sie sind auf der Seite mit Ihren Aufträgen. Sie können Ihre Reservierung zu machen und wählen Sie einen weiteren Tour, diese Presse "Book-Tour." Die Liste der Aufträge können jederzeit über den Link "Meine Bestellungen" in der oberen Menüleiste zurückgegeben werden.
</p>
<p>
6. Auf Befehl geben Sie Ihren Namen, Telefonnummer und E-Mail-Adresse und Wohnsitz in Zypern. Sie müssen den Bedingungen der Reservierung zustimmen, Putting "Checkbox" neben dem entsprechenden Artikel. Nach einem Klick auf "Jetzt buchen" das wird Ihre Bestellung gespeichert werden und Sie werden auf der Zahlungsseite umgeleitet werden.
</p>
<p>
7. Die Tour muss im Voraus bezahlt werden. Alle Zahlungsmöglichkeiten finden Sie unter "Wie bezahlen"
</p>
<p>
8. Status Ausflüge (Bestätigung) kann jederzeit im Menü "Status prüfen" überprüft werden.
                </p>
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Πώς να κάνετε κράτηση:</span>
</p>
<p>
1. Επιλέξτε μια κατηγορία εκδρομές (γη, θάλασσα, κλπ)
</p>
<p>
2. Επιλέξτε την περιοδεία
</p>
<p>
3. Η περιγραφή του ημερολογίου της πόλης, επιλέξτε την ημερομηνία της περιοδείας και πατήστε το πλήκτρο "Κράτηση". Οι διαθέσιμες ημερομηνίες επισημαίνεται με πράσινο χρώμα γραμματοσειράς.
</p>
<p>
4. Καθορίστε τον αριθμό των ενηλίκων και των παιδιών που συμμετείχαν στην περιοδεία, και κάντε κλικ στο κουμπί "Προσθήκη στην τάξη"
</p>
<p>
5. Είστε στη σελίδα με τις παραγγελίες σας. Μπορείτε να κάνετε την κράτησή σας και να επιλέξετε έναν άλλο γύρο, αυτό πατήστε το κουμπί "Κάντε Tour". Ο κατάλογος των εντολών μπορεί να επιστρέψει ανά πάσα στιγμή μέσω του συνδέσμου "Οι παραγγελίες μου" στο μενού στην κορυφή.
</p>
<p>
6. Με εντολή εισάγετε το όνομα, τον αριθμό τηλεφώνου σας και τη διεύθυνση ηλεκτρονικού ταχυδρομείου, και ο τόπος διαμονής σε Κύπρος. Θα πρέπει να συμφωνήσετε με τους όρους της κράτησης, βάζοντας "κουτάκι" δίπλα στο κατάλληλο σημείο. Αφού κάνετε κλικ στο "Κάντε Κράτηση Τώρα" η παραγγελία σας θα αποθηκευτούν και θα μεταφερθείτε στη σελίδα πληρωμής.
</p>
<p>
7. Η περιοδεία θα πρέπει να καταβληθεί εκ των προτέρων. Όλες οι επιλογές πληρωμής, ανατρέξτε στην ενότητα "Πώς να πληρώσει"
</p>
<p>
8. εκδρομές Κατάσταση (επιβεβαίωση) μπορούν να ελεγχθούν ανά πάσα στιγμή από το μενού "Έλεγχος κατάστασης".
                </p>
            </article>

             break;
    }
}

</div>