<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Privacy Policy on Cookies Usage</p></span>
	          <p style="regular_post_body"><p class="MsoNormal"><strong>Privacy Statement:<span>&nbsp; </span>How we use Cookies</strong></p>
<p>Cookies are very small text files that are stored on your computer when you visit some websites.<span>&nbsp; </span></p>
<p>We use cookies to help identify your computer so we can tailor your user experience, track shopping basket contents and remember where you are in the order process.</p>
<p>You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.</p>
<p><strong>The following is strictly necessary in the operation of our website.</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Remember what is in your shopping basket</li>
<li><span><span><span></span></span></span>Remember where you are in the order process</li>
<li><span><span><span></span></span></span>Remember that you are logged in and that your session is secure.<span>&nbsp; </span>You need to be logged in to complete an order.</li>
</ul>
<p>The following are not Strictly Necessary, but are required to provide you with the best user experience and also to tell us which pages you find most interesting (anonymously).</p>
<p><strong>Functional Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Offer Live Chat Support (If available)</li>
<li><span><span><span></span></span></span>Track the pages you visits via Google Analytics</li>
</ul>
<p><strong>Targeting Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Allow you to share pages with social networks such as Facebook (If available)</li>
<li><span><span></span></span>Allow you to share pages via Add This (If available)</li>
</ul>
<p>To view the &lsquo;Add This&rsquo; Privacy Policy or to opt out of any online behavioural advertising, please visit <a href="http://www.addthis.com/privacy?utm_source=mf&amp;utm_medium=link&amp;utm_content=AT_privacy_MF15PC&amp;utm_campaign=AT_privacy%20" title="Add This">Add This</a> and click on the &lsquo;Opt Out&rsquo; button.</p>
<p><strong>This website will not</strong></p>
<ul><li><span><span></span></span>Share any personal information with third parties.</li>
</ul></p>							
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Политика конфиденциальности при использовании Cookies </p></span>
	          <p style="regular_post_body"><p class="MsoNormal"><strong>Как мы используем файлы Cookies</strong></p>
<p>Cookies (куки) — небольшой фрагмент данных, созданный веб-сервером и хранимый на компьютере пользователя в виде файла, который веб-клиент (обычно веб-браузер) каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта. Применяется для сохранения данных на стороне пользователя, на практике обычно используется для:</p>
<ul>
<li>аутентификации пользователя;</li>
<li>хранения персональных предпочтений и настроек пользователя;</li>
<li>отслеживания состояния сессии пользователя;</li>
<li>ведения статистики о пользователях.</li>
</ul>
<p>Вы можете отключить cookies, хранящиеся на вашем компьютере, но это может повлиять на функционирование сайта. </p>

<p><strong>Информация, необходимая для работы нашего сайта</strong></p>
<p>Наш вебсайт:</p>
<ul>
<li>Запоминает, что в вашей корзине</li>
<li>Запоминает, на каком этапе оформление заказа</li>
<li>Запоминает, что вы зашли в систему и ваша сессия защищена. Вы должны быть авторизованы, чтобы выполнить заказ.</li>
</ul>
<p>Следующие пункты не обязательны, но необходимы, чтобы предоставить вам максимальное удобство использования, а также рассказать нам, какие страницы вы находите наиболее интересными (анонимно).</p>
<p><strong>Функциональные файлы Cookie</strong></p>
<p>Наш вебсайт:</p>
<ul>
<li>Предоставляет Live Chat  (при необходимости)</li>
<li>Отслеживает посещаемые страницы с помощью Google Analytics</li>
</ul>
<p><strong>Целевые файлы Cookie</strong></p>
<p>Наш вебсайт:</p>
<ul>
<li>Позволяет делиться веб-страницами в социальных сетях, например Facebook</li>
<li>Дает возможность делиться страницами при помощи кнопки Добавить</li>
</ul>
<p><strong>Наш вебсайт не делится личной информацией с третьими сторонами.</strong></p>
</p>							
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Privacy Policy on Cookies Usage</p></span>
	          <p style="regular_post_body"><p class="MsoNormal"><strong>Privacy Statement:<span>&nbsp; </span>How we use Cookies</strong></p>
<p>Cookies are very small text files that are stored on your computer when you visit some websites.<span>&nbsp; </span></p>
<p>We use cookies to help identify your computer so we can tailor your user experience, track shopping basket contents and remember where you are in the order process.</p>
<p>You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.</p>
<p><strong>The following is strictly necessary in the operation of our website.</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Remember what is in your shopping basket</li>
<li><span><span><span></span></span></span>Remember where you are in the order process</li>
<li><span><span><span></span></span></span>Remember that you are logged in and that your session is secure.<span>&nbsp; </span>You need to be logged in to complete an order.</li>
</ul>
<p>The following are not Strictly Necessary, but are required to provide you with the best user experience and also to tell us which pages you find most interesting (anonymously).</p>
<p><strong>Functional Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Offer Live Chat Support (If available)</li>
<li><span><span><span></span></span></span>Track the pages you visits via Google Analytics</li>
</ul>
<p><strong>Targeting Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Allow you to share pages with social networks such as Facebook (If available)</li>
<li><span><span></span></span>Allow you to share pages via Add This (If available)</li>
</ul>
<p>To view the &lsquo;Add This&rsquo; Privacy Policy or to opt out of any online behavioural advertising, please visit <a href="http://www.addthis.com/privacy?utm_source=mf&amp;utm_medium=link&amp;utm_content=AT_privacy_MF15PC&amp;utm_campaign=AT_privacy%20" title="Add This">Add This</a> and click on the &lsquo;Opt Out&rsquo; button.</p>
<p><strong>This website will not</strong></p>
<ul><li><span><span></span></span>Share any personal information with third parties.</li>
</ul></p>							
            </article>

            break;
        case "el":
            <article style="padding: 70px 10px 10px 10px;">
<span class="ex_pay_title"><p>Privacy Policy on Cookies Usage</p></span>
	          <p style="regular_post_body"><p class="MsoNormal"><strong>Privacy Statement:<span>&nbsp; </span>How we use Cookies</strong></p>
<p>Cookies are very small text files that are stored on your computer when you visit some websites.<span>&nbsp; </span></p>
<p>We use cookies to help identify your computer so we can tailor your user experience, track shopping basket contents and remember where you are in the order process.</p>
<p>You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.</p>
<p><strong>The following is strictly necessary in the operation of our website.</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Remember what is in your shopping basket</li>
<li><span><span><span></span></span></span>Remember where you are in the order process</li>
<li><span><span><span></span></span></span>Remember that you are logged in and that your session is secure.<span>&nbsp; </span>You need to be logged in to complete an order.</li>
</ul>
<p>The following are not Strictly Necessary, but are required to provide you with the best user experience and also to tell us which pages you find most interesting (anonymously).</p>
<p><strong>Functional Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Offer Live Chat Support (If available)</li>
<li><span><span><span></span></span></span>Track the pages you visits via Google Analytics</li>
</ul>
<p><strong>Targeting Cookies</strong></p>
<p>This Website Will:</p>
<ul><li><span><span><span></span></span></span>Allow you to share pages with social networks such as Facebook (If available)</li>
<li><span><span></span></span>Allow you to share pages via Add This (If available)</li>
</ul>
<p>To view the &lsquo;Add This&rsquo; Privacy Policy or to opt out of any online behavioural advertising, please visit <a href="http://www.addthis.com/privacy?utm_source=mf&amp;utm_medium=link&amp;utm_content=AT_privacy_MF15PC&amp;utm_campaign=AT_privacy%20" title="Add This">Add This</a> and click on the &lsquo;Opt Out&rsquo; button.</p>
<p><strong>This website will not</strong></p>
<ul><li><span><span></span></span>Share any personal information with third parties.</li>
</ul></p>							
            </article>

             break;
    }
}

</div>