<div class="static_text">

@{  var lang = Sm.System.Mvc.Language.UrlLanguage.CurrentLanguage;
    switch (lang)
    {
        case "en":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Terms and conditions</span>
</p>
<h3>1. Scope of Services</h3>

<p>The company EXGO LTD, a Company incorporated and validly existing under the laws of the Republic of Cyprus, with registration number HE347746 (hereinafter referred to as “EXGO”) is a service center and provides consumers (also referred to as "clients" and/or users) with tours and excursions. EXGO offers services from service providers (hereinafter referred to as the “Providers") which have all necessary permissions and licenses to ensure quality service through website www.exgo.com (hereinafter referred to as the “Website”). </p>
<p>EXGO is not responsible for the organizing of excursions. </p>
<p>The present Terms and Conditions cover the relationship between EXGO and the Client. Those Terms and Conditions shall not apply to any services offered by the Providers to the Clients. </p>
<p>Payments can be conducted through PayPal, Visa or MasterCard (hereinafter referred to as the “Payment Services”) or through partner hotels (hereinafter referred to as “partner hotels”). Safety and security during the payment is ensured by the payment service provider or any third party payment processor. </p>

<h3>2. Ordering services through Website</h3>
<p>The Client shall select the type of excursion, date, excursion language, as well as enter the number of people that will participate in the excursion and press "Book" button.  After the excursion is selected the user can choose whether he wants to add any other excursion, or proceed to checkout. At the checkout the booking information and the overall price will be displayed for the review and confirmation of the Client. Upon confirmation, the Client shall enter his contact details and choose the method of payment. The following payment methods are available: payment by PayPal, payment by PayU (for accounts nominated in RUB), payment by bank card (Visa, MasterCard), cash payment directly to the Agent/Partner Hotel.  After the booking is reviewed and confirmed by the Client, and provided that the Client read and accepted the present Terms and Conditions, he shall press the “Book” button to confirm his booking; the excursions selected shall be booked on the name of the Client and the Client shall receive the booking confirmation by email and text message on phone number provided. Depending on the method of payment selected, the user shall be re-directed to the website of the payment service that he/she selected.</p>
<p>After receiving from Payment Service the confirmation of the successful transaction, or the confirmation of payment from the Agent/Partner Hotel, the Client shall receive a payment confirmation on email and text message on phone number provided in contact details.  The booking shall be confirmed only upon receipt of both confirmations but the services ordered will be provided only for bookings paid fully and in time. Each booking has dedicated line saying time limit to pay – date and time.</p>

<h3>3. Checking status of the order</h3>
<p>The Client can check the payment status, as well as review all the details of the services ordered, using "Check status" button on the website. For reasons of security, the Client along with the booking number shall enter the phone number provided during booking.</p>

<h3>4. Processing of cash payments</h3>
<p>The Client shall be able to order services during his stay at any country where EXGO provides services, and can pay cash in his resident hotel provided that this is a partner hotel.  In order to proceed with the payment, the Client shall provide the booking number (either from confirmation email or from text message). The Partner Hotel shall receive the funds and mark the booking as paid. The status of the booking is updated immediately and can be reviewed by the client. </p>

<h3>5. Performing of the excursion services</h3>
<p>Performance of the excursion services ordered through the website lies within the responsibility of the Provider. EXGO shall not be held liable for any misconduct, punitive, special, indirect or consequential loss or damages or any other issues raised in regards to the performance of the excursion services by the Provider.</p>

<h3>6. Excursion prices and taxes</h3>
<p>All prices published on the website include VAT (where applicable) as well as all other taxes and expences. No further taxes and expenses shall incurre during the excursions, except extra features mentioned on the product page, which can be additionally purchased by the Client during the excursion.</p>

<h3>7. Amendments&Cancellations</h3>
<p>The Client may cancel or amend the booking; cancellation or amendment fees may apply according to Provider rules.  Cancel/amend policy varies according to each Provider. If cancellations and amendments are not notified by their due date and time, the appropriate 'No Show' charges 100% from the paid amount will be applied. In case of cancellation due to force majeure (i.e. weather conditions etc.) the Client gets 100% refund.   The Client agrees to pay any cancellation or amendments fees that incurred.</p>

<h3>8. Complaints</h3>
<p>In case of complaints, the client can contact the call-center of EXGO, which transfers this complaint of the client to the provider directly. Any communication in regards to the complaint is conducted directly between provider and client. Complaints can also be sent to support @@ exgo.com or by filling and submitting the application form at www.exgo.com/contact. No complains can be filed later than 48 hours after the excursion.</p>

<h3>9. Safety of the data</h3>
<p>User data are only used during processing of the services ordered. Safety of the payment details is provided by the corresponding Payment Service providers.</p>

<h3>10. Final Clause</h3>
<p>These Terms and Conditions are subject to the law of the Republic of Cyprus. </p>
<p>If individual provisions of these terms of use are not valid or become void and/or contradict to the legal provisions, the validity of the remaining clauses of these terms remains intact. The invalid provision is replaced unanimously by such a clause that comes closest to the economic purpose of the invalid one in a legally valid way. The aforementioned regulations are applied correspondingly in terms of regulatory gaps.</p>
<p>These Terms and Conditions are provided in different languages besides the English original; there translations are made with care, but serve information purposes only. In the case of contradictions or deviations the English version shall survive.</p>
            </article>

            break;
        case "ru":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Пользовательское соглашение</span>
</p>
<h3>1. Сфера услуг</h3>

<p>Компания EXGO LTD, учреждённая и действующая в соответствии с законодательством Республики Кипр, с регистрационным номером HE347746 (именуемая далее EXGO)  является сервисным центром и предоставляет клиентам  (именуемым далее Клиент или Пользователь) туры и экскурсии. EXGO предлагает услуги через вебсайт www.exgo.com (далее Вебсайт) от поставщиков туров и экскурсий (далее именуемые Поставщики), которые имеют все необходимые разрешения и лицензии для предоставления качественного обслуживания. EXGO не несёт ответственности  за организацию экскурсий. </p>
<p>Данное соглашение распространяется на отношения между EXGO и Клиентом. Это пользовательское соглашение не распространяются на любые услуги, предлагаемые  Поставщиком Клиенту. Оплата может быть проведена через PayPal, Visa или MasterCard (именуемые далее Платежные Сервисы) или через отели партнёры (именуемые далее Отели Партнёры). Безопасность  при оплате обеспечивается поставщиком платежных услуг или иной третьей стороной, принимающей оплату.</p>

<h3>2. Заказ услуг через вебсайт</h3>
<p>Клиент должен выбрать экскурсию,  дату,  язык на котором будет проходить экскурсия, а также выбрать количество человек участвующих в экскурсии, затем нажать "Забронировать". После выбора экскурсии Клиент может добавить в корзину ещё экскурсии или выйти из бронирования. При выходе из бронирования на экране появится повторно цена выборного тура и Клиент должен подтвердить правильность своего выбора. После подтверждения Клиент должен указать свой контактные данные и выбрать способ оплаты. Клиенту будут предложены следующие способы оплаты:  оплата через платёжную систему PayPall, оплата через платёжную систему PayU  (для банковских счетов в Рублях),  оплата банковской картой (Visa,  MasterCard), оплата наличными отелю. После перепроверки  и подтверждения брони,  Клиент должен ознакомиться и подтвердить что Он согласен со "Сроками и Условиями" бронирования. Экскурсия должна быть забронирована на имя Клиента. Клиент должен получить подтверждения брони на электронный адрес или смс на номер телефона указанный в Контактных данных. В зависимости от выбранного способа оплаты, Клиент должен быть перенаправлен на сайт платёжного сервиса, который Он/Она выбрал. После подтверждения успешной транзакции или оплате отелю, Клиент должен получить подтверждение оплаты на электронный адрес  или смс на номер телефона указанный в контактных данных. Экскурсия считается забронированной после того как Клиент полностью и в срок оплатил выбранную услугу. У каждой брони прописаны  срок оплаты: число и время.</p>

<h3>3. Статус заказа</h3>
<p>Клиент может проверить статус заказа, а также все детали заказанных услуг,  используя кнопку на вебсайте "Проверить статус". В целях безопасности, Клиент вместе с номером бронирования должен ввести номер телефона, указанный при бронировании в Контактных данных.</p>

<h3>4. Оплата наличными</h3>
<p>У Клиента есть возможность заказать экскурсии во время его пребывания в любой стране, где EXGO предоставляет свои услуги. Клиент может оплатить  наличными заказанные экскурсии на стойке  отеля, при условии, что этот отель является партнёром EXGO. Для оплаты наличными отелю, Клиент должен предоставить номер брони (полученный на электронный адрес или смс на номер телефона указанный в Контактных данных). После того как отель партнёр получил оплату, отель меняет статус заказа - Оплачено. Статус заказа обновляется немедленно и может быть проверен Клиентом.</p>

<h3>5. Оказание экскурсионных услуг</h3>
<p>Оказание экскурсионных услуг заказанных через вебсайт выполняется Поставщиком. EXGO не несёт ответственности в случае моральных и\или материальных потерь и других сложностей возникших во время оказания экскурсионных услуг Поставщиком. </p>

<h3>6. Цены экскурсий и налоги</h3>
<p>Все цены, опубликованные на сайте, включают НДС (где необходимо), а также все другие налоги и затраты. Никакие другие затраты не могут возникнуть во время экскурсии, за исключением дополнительных услуг указанных на странице описания продукта, которые могут быть  приобретены Клиентом во время экскурсии.</p>

<h3>7. Изменения и отмена заказов</h3>
<p>Клиент может изменить или отменить заказ, в соответствии с условиями Поставщика при этом могут применяться штрафы. Правила отмены или изменения заказов отличаются  у разных Поставщиков. Если об отмене или изменение заказов не сообщается в указанные временные рамки, 100% штраф будет применён. Отмена в случае форс мажора (погодные условия и т.д.) влечёт за собой 100% возврат. Клиент соглашается оплатить штрафы, связанные с несвоевременным  изменением или отмене заказа.</p>

<h3>8. Жалобы</h3>
<p>В случае возникновении жалоб, Клиент может позвонить в центр обработки звонков EXGO, который передаёт все жалобы напрямую Поставщику. Дальнейшее обсуждение жалоб происходит напрямую между Клиентом и Поставщиком. Жалобы могут быть отправлены на электронный адрес support@exgo.com или Клиент может заполнить форму претензий на сайте www.exgo.com/contact. Жалоба должна быть подана не позднее 48 часов после окончании экскурсии.</p>

<h3>9. Безопасность данных</h3>
<p>Пользовательские данные используются только во время обработки заказанных услуг. Безопасность платежных реквизитов предусмотрено Поставщиками оплаты услуг.</p>

<h3>10. Заключительные положения</h3>
<p>Данное пользовательское соглашение составлено согласно законодательству Республики Кипр. Если отдельные положения данных условий не действуют или становятся недействительными или противоречат законодательным положениям, действительность остальных положений этих условий остается неизменным. Недействительное положение заменяется положением, более всего соответствующим  экономической цели недействительного положения, имеющим юридическую силу. Вышеупомянутые положения применяются в отношении нормативных пробелов. Кроме английского оригинала, данные сроки и условия предоставляются на разных языках. Переводы составлены с осторожностью, но только в информационных целях. В случае противоречий или отклонений, английская версия превалирует.</p>
            </article>

            break;
        case "de":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Terms and conditions</span>
</p>
<h3>1. Scope of Services</h3>

<p>The company EXGO LTD, a Company incorporated and validly existing under the laws of the Republic of Cyprus, with registration number HE347746 (hereinafter referred to as “EXGO”) is a service center and provides consumers (also referred to as "clients" and/or users) with tours and excursions. EXGO offers services from service providers (hereinafter referred to as the “Providers") which have all necessary permissions and licenses to ensure quality service through website www.exgo.com (hereinafter referred to as the “Website”). </p>
<p>EXGO is not responsible for the organizing of excursions. </p>
<p>The present Terms and Conditions cover the relationship between EXGO and the Client. Those Terms and Conditions shall not apply to any services offered by the Providers to the Clients. </p>
<p>Payments can be conducted through PayPal, Visa or MasterCard (hereinafter referred to as the “Payment Services”) or through partner hotels (hereinafter referred to as “partner hotels”). Safety and security during the payment is ensured by the payment service provider or any third party payment processor. </p>

<h3>2. Ordering services through Website</h3>
<p>The Client shall select the type of excursion, date, excursion language, as well as enter the number of people that will participate in the excursion and press "Book" button.  After the excursion is selected the user can choose whether he wants to add any other excursion, or proceed to checkout. At the checkout the booking information and the overall price will be displayed for the review and confirmation of the Client. Upon confirmation, the Client shall enter his contact details and choose the method of payment. The following payment methods are available: payment by PayPal, payment by PayU (for accounts nominated in RUB), payment by bank card (Visa, MasterCard), cash payment directly to the Agent/Partner Hotel.  After the booking is reviewed and confirmed by the Client, and provided that the Client read and accepted the present Terms and Conditions, he shall press the “Book” button to confirm his booking; the excursions selected shall be booked on the name of the Client and the Client shall receive the booking confirmation by email and text message on phone number provided. Depending on the method of payment selected, the user shall be re-directed to the website of the payment service that he/she selected.</p>
<p>After receiving from Payment Service the confirmation of the successful transaction, or the confirmation of payment from the Agent/Partner Hotel, the Client shall receive a payment confirmation on email and text message on phone number provided in contact details.  The booking shall be confirmed only upon receipt of both confirmations but the services ordered will be provided only for bookings paid fully and in time. Each booking has dedicated line saying time limit to pay – date and time.</p>

<h3>3. Checking status of the order</h3>
<p>The Client can check the payment status, as well as review all the details of the services ordered, using "Check status" button on the website. For reasons of security, the Client along with the booking number shall enter the phone number provided during booking.</p>

<h3>4. Processing of cash payments</h3>
<p>The Client shall be able to order services during his stay at any country where EXGO provides services, and can pay cash in his resident hotel provided that this is a partner hotel.  In order to proceed with the payment, the Client shall provide the booking number (either from confirmation email or from text message). The Partner Hotel shall receive the funds and mark the booking as paid. The status of the booking is updated immediately and can be reviewed by the client. </p>

<h3>5. Performing of the excursion services</h3>
<p>Performance of the excursion services ordered through the website lies within the responsibility of the Provider. EXGO shall not be held liable for any misconduct, punitive, special, indirect or consequential loss or damages or any other issues raised in regards to the performance of the excursion services by the Provider.</p>

<h3>6. Excursion prices and taxes</h3>
<p>All prices published on the website include VAT (where applicable) as well as all other taxes and expences. No further taxes and expenses shall incurre during the excursions, except extra features mentioned on the product page, which can be additionally purchased by the Client during the excursion.</p>

<h3>7. Amendments&Cancellations</h3>
<p>The Client may cancel or amend the booking; cancellation or amendment fees may apply according to Provider rules.  Cancel/amend policy varies according to each Provider. If cancellations and amendments are not notified by their due date and time, the appropriate 'No Show' charges 100% from the paid amount will be applied. In case of cancellation due to force majeure (i.e. weather conditions etc.) the Client gets 100% refund.   The Client agrees to pay any cancellation or amendments fees that incurred.</p>

<h3>8. Complaints</h3>
<p>In case of complaints, the client can contact the call-center of EXGO, which transfers this complaint of the client to the provider directly. Any communication in regards to the complaint is conducted directly between provider and client. Complaints can also be sent to support @@ exgo.com or by filling and submitting the application form at www.exgo.com/contact. No complains can be filed later than 48 hours after the excursion.</p>

<h3>9. Safety of the data</h3>
<p>User data are only used during processing of the services ordered. Safety of the payment details is provided by the corresponding Payment Service providers.</p>

<h3>10. Final Clause</h3>
<p>These Terms and Conditions are subject to the law of the Republic of Cyprus. </p>
<p>If individual provisions of these terms of use are not valid or become void and/or contradict to the legal provisions, the validity of the remaining clauses of these terms remains intact. The invalid provision is replaced unanimously by such a clause that comes closest to the economic purpose of the invalid one in a legally valid way. The aforementioned regulations are applied correspondingly in terms of regulatory gaps.</p>
<p>These Terms and Conditions are provided in different languages besides the English original; there translations are made with care, but serve information purposes only. In the case of contradictions or deviations the English version shall survive.</p>
            </article>

            break;
        case "fr":
            <article style="padding: 70px 10px 10px 10px;">
                <p>
<span class="ex_pay_title">Terms and conditions</span>
</p>
<h3>1. Scope of Services</h3>

<p>The company EXGO LTD, a Company incorporated and validly existing under the laws of the Republic of Cyprus, with registration number HE347746 (hereinafter referred to as “EXGO”) is a service center and provides consumers (also referred to as "clients" and/or users) with tours and excursions. EXGO offers services from service providers (hereinafter referred to as the “Providers") which have all necessary permissions and licenses to ensure quality service through website www.exgo.com (hereinafter referred to as the “Website”). </p>
<p>EXGO is not responsible for the organizing of excursions. </p>
<p>The present Terms and Conditions cover the relationship between EXGO and the Client. Those Terms and Conditions shall not apply to any services offered by the Providers to the Clients. </p>
<p>Payments can be conducted through PayPal, Visa or MasterCard (hereinafter referred to as the “Payment Services”) or through partner hotels (hereinafter referred to as “partner hotels”). Safety and security during the payment is ensured by the payment service provider or any third party payment processor. </p>

<h3>2. Ordering services through Website</h3>
<p>The Client shall select the type of excursion, date, excursion language, as well as enter the number of people that will participate in the excursion and press "Book" button.  After the excursion is selected the user can choose whether he wants to add any other excursion, or proceed to checkout. At the checkout the booking information and the overall price will be displayed for the review and confirmation of the Client. Upon confirmation, the Client shall enter his contact details and choose the method of payment. The following payment methods are available: payment by PayPal, payment by PayU (for accounts nominated in RUB), payment by bank card (Visa, MasterCard), cash payment directly to the Agent/Partner Hotel.  After the booking is reviewed and confirmed by the Client, and provided that the Client read and accepted the present Terms and Conditions, he shall press the “Book” button to confirm his booking; the excursions selected shall be booked on the name of the Client and the Client shall receive the booking confirmation by email and text message on phone number provided. Depending on the method of payment selected, the user shall be re-directed to the website of the payment service that he/she selected.</p>
<p>After receiving from Payment Service the confirmation of the successful transaction, or the confirmation of payment from the Agent/Partner Hotel, the Client shall receive a payment confirmation on email and text message on phone number provided in contact details.  The booking shall be confirmed only upon receipt of both confirmations but the services ordered will be provided only for bookings paid fully and in time. Each booking has dedicated line saying time limit to pay – date and time.</p>

<h3>3. Checking status of the order</h3>
<p>The Client can check the payment status, as well as review all the details of the services ordered, using "Check status" button on the website. For reasons of security, the Client along with the booking number shall enter the phone number provided during booking.</p>

<h3>4. Processing of cash payments</h3>
<p>The Client shall be able to order services during his stay at any country where EXGO provides services, and can pay cash in his resident hotel provided that this is a partner hotel.  In order to proceed with the payment, the Client shall provide the booking number (either from confirmation email or from text message). The Partner Hotel shall receive the funds and mark the booking as paid. The status of the booking is updated immediately and can be reviewed by the client. </p>

<h3>5. Performing of the excursion services</h3>
<p>Performance of the excursion services ordered through the website lies within the responsibility of the Provider. EXGO shall not be held liable for any misconduct, punitive, special, indirect or consequential loss or damages or any other issues raised in regards to the performance of the excursion services by the Provider.</p>

<h3>6. Excursion prices and taxes</h3>
<p>All prices published on the website include VAT (where applicable) as well as all other taxes and expences. No further taxes and expenses shall incurre during the excursions, except extra features mentioned on the product page, which can be additionally purchased by the Client during the excursion.</p>

<h3>7. Amendments&Cancellations</h3>
<p>The Client may cancel or amend the booking; cancellation or amendment fees may apply according to Provider rules.  Cancel/amend policy varies according to each Provider. If cancellations and amendments are not notified by their due date and time, the appropriate 'No Show' charges 100% from the paid amount will be applied. In case of cancellation due to force majeure (i.e. weather conditions etc.) the Client gets 100% refund.   The Client agrees to pay any cancellation or amendments fees that incurred.</p>

<h3>8. Complaints</h3>
<p>In case of complaints, the client can contact the call-center of EXGO, which transfers this complaint of the client to the provider directly. Any communication in regards to the complaint is conducted directly between provider and client. Complaints can also be sent to support @@ exgo.com or by filling and submitting the application form at www.exgo.com/contact. No complains can be filed later than 48 hours after the excursion.</p>

<h3>9. Safety of the data</h3>
<p>User data are only used during processing of the services ordered. Safety of the payment details is provided by the corresponding Payment Service providers.</p>

<h3>10. Final Clause</h3>
<p>These Terms and Conditions are subject to the law of the Republic of Cyprus. </p>
<p>If individual provisions of these terms of use are not valid or become void and/or contradict to the legal provisions, the validity of the remaining clauses of these terms remains intact. The invalid provision is replaced unanimously by such a clause that comes closest to the economic purpose of the invalid one in a legally valid way. The aforementioned regulations are applied correspondingly in terms of regulatory gaps.</p>
<p>These Terms and Conditions are provided in different languages besides the English original; there translations are made with care, but serve information purposes only. In the case of contradictions or deviations the English version shall survive.</p>
            </article>

             break;
    }
}

</div>