@model GuestService.Models.FeedbackFormContext

@{
    ViewBag.Title = "Feedback form Page";
}

@if (ViewBag.success == null)
{
    <div class="col-lg-12">
        @Html.Partial("Controls\\FeedbackForm")
    </div>
}
else if (ViewBag.success == true)
{
    <div class="col-lg-12">
        Сообщение успешно отправлено.
    </div>
}
else if (ViewBag.success == false)
{
    <div class="col-lg-12">
         Произошла ошибка при отправке.
    </div>
}